/*  Default styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open Sans";
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body, html {
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

body {
  min-height: 100%;
  background-color: #39a2e1;
}

/* End Default Styles  */
#header {
  margin: 0;
  height: 293px;
  position: relative;
  text-align: center;
}

#header-image {
  width: 100%;
  height: 293px;
  margin: 0;
  border-radius: 25px 25px 0 0;
}

#center-company-name {
  font-size: 350%;
  color: #7dc2eb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*  Nav bar style  */
nav {
  width: 100%;
  height: 47px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #1474a9;
  font-size: 0;
  border-radius: 0 0 25px 25px;
}

ul {
  margin: 0 10%;
}

ul li {
  display: inline-block;
  list-style: none;
  width: 100px;
  margin: 0;
  padding: 0;
  line-height: 47px;
}

ul li a {
  font-size: 15px;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0px 10px;
  text-decoration: none;
  color: black;
  background-color: #1474a9;
  border-radius: 10px 10px 0 0;
}

nav a:hover {
  background-color: #1993d7;
  color: #373737;
}

#active {
  background-color: #1993d7;
  color: #373737;
}

/*  End of Nav Bar*/
.wrapper {
  overflow: auto;
  height: auto;
  min-height: 100%;
  margin: 0px 12.5%;
  padding: 0 auto;
  overflow: hidden;
  background-color: #f2f9fd;
  border-radius: 25px;
}

.main {
  clear: both;
  padding: 0 0 12px 0;
}

.main h1, h2 {
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.under-main p {
  margin: 12px 5px;
  padding: 15px 0;
  text-align: center;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.move::after {
  content: "";
  clear: both;
  display: table;
}

.mover {
  width: 25%;
  padding: 5px;

}

button {
  display: block;
  float: left;
  margin: 12px 5px;
  border-radius: 5px;
}

footer {
  background-color: #373737;
  color: white;
  border-radius: 25px 25px 0 0;
  width: 75%;
  margin: 0 auto;
}

footer, #footer-legal {
  clear: both;
  text-align: center;
  display: block;
  border-radius: 25px;
}

#logo {
  width: 30px;
  height: auto;
}
