* {
  padding: 0px;
  margin: 0px;
}

html, body {
  height: 100vh;
}

body {
  min-height: 100vh;
}

.wrapper {
  margin: 10px 12%;
  background-color: #ddd;
  height: 100%;
}

nav {
  margin: 0 auto;
  background-color: black;
  width: 100%;
  height: 46px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0;
}

nav li a {
  margin: 0;
  text-decoration: none;
  color: black;
  padding: 14px 16px;
  background-color: green;
  border-left: 1px black solid;
  display: inline-block;
}

nav a:hover {
  background-color: #ddd;
}

.main {
  clear: both;
}

.main h1, h2 {
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.under-main p {
  padding: 15px 0;
  margin: 12px 5px;
}

.under-main p img {
  width: 420px;
  height: auto;
  padding: 0 5px;
  float: left;
}

#change {
  display: block;
  clear: left;
  margin: 12px 5px;
}

button {
  display: block;
  float: left;
  margin: 12px 5px;
}
